<!--h1{
    margin-top: 20px;
    color: rgb(165, 27, 8);
    text-align:center;
    text-indent:50px;
    
}
.DivClass{
    text-align:center;
}
body{
    background-repeat:no-repeat;
    background-size: contain;   
    background-color: aquamarine;
    
}
h2{
    text-indent: 50px;
}



    #SpanId{
        margin:50px;
       font:38px;
        
    }

-->